{% extends 'Recipe/base.html' %}
{% load static %}
{% block content %}
    <nav class="content">
        <div class="container">
            <div class="container w-80 mt-3">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <button type="button" class="btn btn-default border resultbtn" >ingredient1</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-default border resultbtn" >ingredient2</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-default border resultbtn" >ingredient3</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-default border resultbtn" >ingredient4</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-default border resultbtn" >result</button>
                    </div>
                </div>
            </div>

            <div class="container w-80 px-3 my-5">
                <div class="container">
                    <p>
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#ingreList">
                        고기재료
                    </button>
                    </p>
                    <div class="collapse" id="ingreList">
                        <div class="card card-body justify-content-center">
                            {%for meat in meatsIngredient%}
                            <button type="button" class="btm imgbutton d-block my-2 mx-2">
                                <img class="imgae-rounded" width="60" height = "60" src="{{ meat.img.url }}" alt="">
                            </button>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>

{% endblock %}